@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Views</h1>
    <p>Introduce <a href="https://github.com/orgs/FreeJobMe/projects/248/views/1" target="_blank">our project</a>.</p>
</div>