@{
    ViewData["Title"] = "Sprint 13. Tasks";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <ul style="list-style-type:none; padding:0;">
        <li><a style="padding-left: 0;" class="nav-link text-dark" href="/Tasks/Greetings">Greetings</a></li>
        <li><a style="padding-left: 0;" class="nav-link text-dark" href="/Tasks/Products">Products</a></li>
        <li><a style="padding-left: 0;" class="nav-link text-dark" href="/Tasks/Supermarkets">Supermarkets</a></li>
        <li><a style="padding-left: 0;" class="nav-link text-dark" href="/Tasks/ShoppingList">Shopping list</a></li>
        <li><a style="padding-left: 0;" class="nav-link text-dark" href="/Tasks/ShoppingCart">Shopping cart</a></li>
    </ul>

</div>